/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
/*imports*/

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.visable {
    opacity: 1;
    width: 100%;
    transition: 0.3s;
}
.not-visable{
    opacity: 0;
    width: 0%;
    transition: 0.3s;
}
.btn{
    background-color: transparent;
    font-size: 3vh;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}
.btn:focus{
    border: solid 1px white;
}
#close-btn{
    /*fix width buttonis clickable too far off*/
    z-index: 100;
    height: 5vh;
    background-color: transparent;
    color:antiquewhite;
    margin: 2vh;
    position: fixed;
    font-size: 2vh;
    overflow: hidden;
    top: 0;
    transform: none;
}

body{
    margin: 0;
    background-image: url('./img/hero.jpg');
    background-attachment: fixed;
    background-size: fill;
    background-position-x: center;
    background-position-y: center;
    width: 100%;
    height: 100vh;

    overflow: hidden;
}

@media (max-width: 800px) {

}

.navbar{
    z-index: 30;
    top: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: 1fr;
    margin: 0;
    padding: 2vh;
    height: 5%;
    background-color: rgba(50, 50, 50, 0.9);
}
.navbar > * {
    color: aliceblue;
}




.title{    
    align-items: center;
    margin: 10% auto;
    text-align: center;
    color: seashell;
    padding: 5vh;
    /*background-color: rgba(50, 150, 255, 0.8);*/
    height: 100%;
    border-radius: 25%;
}
.title h1{
    font-size: 10vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.title p{
    font-size: 5vh;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*About me start*/
.about-me{
    position: absolute;
    color:antiquewhite;
    background-color: rgba(50, 50, 50, 0.9);
    text-align: center;
    height: 100%;
    align-items: justify;
    overflow: hidden;
    top: 0;
    
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    grid-template-areas: 
    'header header'
    'about image';
}
.about-me h2{
    grid-area: header;
}
.about-me div{
    grid-area: about;
}
.about-me img{
    position: relative;
    margin: 0 auto;
    grid-area: image;
    height: 70%;
}
h3, li{
    text-align: left;
}
/*About me end*/
.music-showcase{
    top: 0;
    position: absolute;
    grid-area: music;
    align-items: center;
    background-color:rgba(50, 150, 255, 0.9);
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.music-container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 2px 3px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}
/*music image*/
.image-container{
    position: relative;
    width: 100px;
}
.image-container::after{
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px black;
}
.image-container img{
    width: inherit;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    border: solid 1px black;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .image-container img{
    animation-play-state: running;
}

/*For spinning animation*/
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-items: center;
    z-index: 1;
}
.action-btn{
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn-big{
    color: black;
    font-size: 30px;
}
.action-btn-big:focus{
    outline: 0;
}
.music-info {
    background-color: seashell;
    border-radius: 15px 15px 0px 0px;
    position: absolute;
    top: 0px;
    left: 20px;
    width: 80%;
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: tranform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4{
    margin: 0px;
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}
/*Progress bar on video player*/
.progress-container{
    background: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}
.progress{
    background-color: pink;
    border-radius: 5px;
    height: 4px;
    width: 50%;
    transition: width 0.1s linear;
}


/*Videos Section Start*/
.videos{
    grid-area: video;
    display: flex;
    justify-content: justify;
    flex-direction: column;
}
.videos > * {
    margin: 0 auto 5vh auto;
}
.videos h2{
    background-color: rgba(20, 255, 255, 0.8);
    text-align: center;
    padding: 2vh;
    width: 90%;
}
.videos iframe{
    width: 90%;
    height: 100%;
}
/*Videos Section End*/

/*Contact Start*/
/*Overlay CSS*/
#contact-overlay{
    height: 100%;
    background-color: rgba(50, 50, 50, 0.9);
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
    transition: 0.5;
    margin: 0;
    overflow: hidden;
}
.contact-me{
    grid-area: contact;
    background-color: rgba(50, 150, 255, 0.8);
    width: 60vmax;
    
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin: 10vh auto auto auto;
}
.contact-me h2{
    background: rgba(20, 255, 255, 0.8);
    padding: 2vh 0 2vh 0;
    width: 100%;
    margin: 0;
    text-align: center;
}
.contact-inputs{
    font-size: 0.5vh;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.contact-inputs input{
    width: 100%;
}
textarea{
    width: 90%;
    height: 20vh;
    margin: 2vh;
}
#submit{
    font-size: 2vh;
    font-weight: bold;
    padding: 1vh;
    height: 30%;
    width: 90%;
    margin: 0 0 2vh 0;
}
/*Contact End*/


footer{
    grid-area: footer;
    background-color: yellow;
}